---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.citation {
    font-size: 0.9rem; /* Adjust as needed */
    color: #666; /* Optional: Make the text slightly lighter */
    line-height: 1.4; /* Optional: Improve readability */
    margin-top: 0.5rem;
  }

.publication-separator {
    border: 0;
    height: 1px;
    background: linear-gradient(to right, #ddd, #aaa, #ddd);
    margin: 2rem 0;
  }

  .get-in-touch-email {
    font-size: 1.2rem;
    font-weight: bold;
    color: #999;
    margin-top: 1rem;
  }